/*ELEMENTS*/
html {
    font-size: 16px;
    /*font-family: 'Gayathri', sans-serif;*/
    /*font-family: 'Kumbh Sans', sans-serif;*/
    /*font-family: 'Syne', sans-serif;*/
    font-family: 'Noto Sans JP', sans-serif;
}
body {
    display: block;
    margin: 0 auto;
    background-color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 0;
    /*height: 100px;*/
    width: 100%;
    z-index: 10;
    padding-top: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}
nav p {
    display: inline-block;
    padding: 30px 60px;
    text-decoration: underline;
    font-size: 1.5rem;
}
main {
    padding-top: 35px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
a {
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,p {
    margin: 0;
    padding: 10px;
}
h1 {
    font-size: 2.65rem;
}
h2 {
    font-size: 2rem;
}

/*SECTIONS*/
/*About*/
.about {
    display: flex;
    height: 500px;
    background-image: url("../images/leaves.jpg");
    padding-top: 50px;
}
.about .content {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
    margin: auto;
    color: white;
    padding: 40px;
}
.about h2 a {
    color: white;
}
.about h3 {
    text-align: center;
}

/*Portfolio Section*/
.portfolio {
    background-color: #f2f2f2;
    padding-bottom: 75px;
}
.portfolio h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
.portfolio p {
    text-align:center;
    font-size: 1.25rem;
    padding-bottom:60px;
}
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.portfolio img {
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/*Team Section*/
.team {
    display: flex;
    width: 100vw;
    background-image: url("../images/offwhite.jpg");
}
.team h2 a {
    display: inline-block;
    padding: 30px;
    color: white;
    align-content: center;
}
.team-grid {
    display: flex;
    flex-wrap: row nowrap;
    padding-bottom: 200px;
  }
.team-grid img {
    max-width: 100%;
    height: auto;
    margin-top: 150px;
    justify-content: space-around; 
}
.teammate {
    padding: 10px;
}
.team-grid .text{
    text-align: start;
}
.team-grid h3 {
    color: darkslategray;
    text-align: center;
}
.team-grid .text h4 {
    text-align: center;
    padding: 0;
    margin: 0;
}


/*Contact Section*/
.contact {
    padding-top: 300px;
    display:inline-flex;
    text-align: center;
}